ALGOD_SERVER='https://testnet-api.algonode.cloud'
ALGOD_TOKEN=''
ALGOD_PORT=''

# KMD values are optional and only work on the localnet.
KMD_SERVER=''
KMD_TOKEN=''
KMD_PORT=''

# This is mandatory to provide
MASTER_MNEMONIC=''

NETWORK='testnet'  #mainnet, testnet or localnet